/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:  url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: auto 100vh ;
  font-family: Arial;
  font-family: 'Staatliches', cursive;
  height: 100vh;
  font-size: 10px;
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header{
  height: 100vh; /* Usa toda altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: teal;
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color, color 2s;
}

.menu a:hover {
  background-color:teal;
  color: white;
}

a {
  color: orange;
  text-decoration: none;
}

/* Quando se passa o mouse por cima */
a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translatey(10vh);
  opacity: 0;
  animation: 1s linear 2s animacaoTitulo forwards;
}

/* Animacao do tipo iframe */
@keyframes animacaoTitulo{

  100% {
    transform: scale(1) translatey(0);
    opacity: 1;
  }

}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
  font-family: 'Kaushan Script', cursive;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.contato,
.portfolio {
  padding: 2em;
  height: 100vh;
}

.contato h2,
.portfolio h2 {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 3em;
}

.portfolio .grid {
  display:grid;
  gap: 2em;
}

@media (min-width: 560px){
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px){
  .portfolio .grid {
    grid-template-columns: 240px 240px 240px;
    justify-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: contain;
  object-position: left bottom;
  border-radius: 10px;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2) rotate(2deg);
}

figcaption {
  color: orange;
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 5em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}